
    

body {
    margin: auto;
    background-color:#FFF9EB ;
    font-family:sans-serif;
    
}

.hola {

    background-color: #13364A; height: 90; width: auto; 
    font-family:sans-serif;
    color:#FFF9EB ;
    text-align: center;
    padding: 14;
   
}

.itinerario {

  background-color: #FFF9EB; height: 220; width: auto; 
  font-family:sans-serif;
  color:#111111 ;
  
  padding: 14;
 
}

.itinerario2 {

  background-color: #faf0d6; height: 220; width: auto; 
  font-family:sans-serif;
  color:#070707 ;
 
  padding: 14;
 
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#468189;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #2c5257;
  }


  .enun {
    margin: 40px;
    width: 500;
    text-align: justify;
  }

  .ciudad {

    position:absolute; top:184; left:1500;
    
  }


  .cat{

    text-align: right;
  }


  .botoon {
    margin: 10;
    background-color:#468189;
    padding: 2px 100px;
    border: #FFF9EB;
    border-radius: 30px;
  }


  .bot {

    font-family: sans-serif;
    color: #FFF9EB;
    font-size: 20px;
  }


  #maps {

      margin: 50;
      left: 1120;

  }
  

  #map {

    margin: 100;
    width: 500;
    color: #FFF9EB;
    text-align: center;
    
    
  }

  
#tabla {

  border: 3px solid #468189;
  border-collapse: collapse;

}


.fin  {

  background-color: #081720; height: 90; width: auto; 
 
  color:#FFF9EB ;
  text-align: center;
  padding: 20;
}

.fi2 {

  color:#c5c5c5 ;
  margin: 30;
  
}


.pago {

  background-color: #13364A;
  padding: 20;
  color: antiquewhite;
}

.envi {

  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.envi:hover {
  background-color: #59b0e2;
  box-shadow: 0px 15px 20px rgba(20, 152, 156, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.envi:active {
  transform: translateY(-1px);
}


.textbo {
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-color: #e8e8e8;
  
  font-size: medium;
  font-weight: bold;
  max-width: 200px;
 }
 
 .textbo:focus {
  outline-color: white;
  place-content: "Enter your message!";
 }
  
 .envi2 {

  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
    background-color:#468189;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 6;
  padding: 2px 30px;
}

.envi2:hover {
  background-color: #1f4053;
  box-shadow: 0px 15px 20px rgba(20, 152, 156, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.envi2:active {
  transform: translateY(-1px);
}

/* From uiverse.io by @joe-watson-sbf */
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 8;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.4rem 1rem;
  border-radius: 30px;
  width: 17em;
  transition: all ease-in-out .5s;
  margin-right: -2rem;
}

.search__input:hover, .search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: #f0eeee;
}

.search__button {
  border: none;
  background-color: #f4f2f2;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}